/* Cagov color scheme root variables */
:root {
  /* Theme colors */
  --primary-dark-color: #046B99;
  --primary-light-color: #E1F2F7;
  
/* not yet used explicitly in this project */
  --primary-color: #0D4F8C;
  --primary-lightest-color: #7fa1c2;
  --primary-hover-color: #00315f;

  --secondary-color: #704315;
  --secondary-dark-color: #472a06;
  --secondary-light-color: #a26016;
  --secondary-lightest-color: #e4881e;
  --secondary-hover-color: #472a06;

  --highlight-color: #85341f;
  --highlight-dark-color: #512317;
  --highlight-light-color: #c24629;
  --highlight-lightest-color: #e0866d;
  --highlight-hover-color: #512317;
}

