@import './_theme-tokens'; /* theme colors */

/* sitewide styles */
@import '../../node_modules/@cagov/ds-base-css/src/core';

/* COMPONENTS/BLOCKS */
@import '../../node_modules/@cagov/ds-site-header/src/index.scss';


/* NAVIGATION ELEMENTS */
@import '../../node_modules/@cagov/ds-statewide-header/src/index.scss';
@import '../../node_modules/@cagov/ds-site-footer/src/index.scss';
@import '../../node_modules/@cagov/ds-statewide-footer/src/index.scss';
@import '../../node_modules/@cagov/ds-site-navigation/src/index.scss';

.official-header {
  background-color: var(--primary-dark-color,#046B99);
  color: #fff;
}

.official-header svg .gov {
  fill: #fff;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;
}

@import './mobile-switch-order-grid';
@import './_buttons.scss';

.program-details {
  background-color: var(--primary-light-color,#E1F2F7);
  margin: 2rem -1rem;
  padding: 1rem;
}

.program-identifier {
  background-color: #E5F1E7;
  text-transform: uppercase;
  padding: 0.7rem 1.5rem;
  position: relative;
  border-radius: 1.5rem;
  display: inline-block;
  text-indent: 1.5rem;

  .emphasis-circle {
    background-color: #0F6D38;
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    position: absolute;
    top: 1.2rem;
    left: 1rem;
  }
}

/* form */
.comment-form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.comment-form .stack > * + * {
  display: block;
}

.comment-form {
  input[type=text], textarea {
    border: solid 1px;
    width: 90%;
    line-height: 3rem;
    border-radius: .3rem;
    margin-top: .5rem;
  }
  textarea {
    height: 9rem;
  }
}

.comment-form {

  .radio-container {
    margin-top: 0;
  }
  input {
    margin-right: 1rem;
  }
  .radios-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .small-marg {
    margin-top: 0.5rem;
  }

  .form-error {
    display: none;
  
    margin-top: .5rem;
    background-color: #FCE9E8;
    color: #93182B;
    padding: .3rem;
    text-indent: 2rem;
    background-image: url(/img/error.svg);
    background-repeat: no-repeat;
    background-position: 0.7rem 0.7rem;
  }
  
}


/* icons next to text */
.icon-left {
  display: flex;

  .icon-container {
    align-self: flex-start;
    margin: 0.3rem 1rem 0 0.3rem;
    background: var(--primary-light-color,#e1f2f7);
    border-radius: 50%;
    position: relative;
    min-width: 30px;
    min-height: 30px;
  }
  .icon-item {
    position: absolute;
    top: 7px;
    left: 9px;
  }
}

.mobile-only {
  display: none;
}
@media (max-width: 900px) {
  .mobile-only {
    display: inline-block;
  }
}

.other-ways .icon-left svg path {
  fill: #046B99;
}

.icon-heading {
  display: flex; 
  align-items: center;
  margin-top: 0;

  h2 {
    margin-top: 1rem;
  }

  svg {
    margin-right: 1rem; 
    margin-top: -6px;
  }
}

.m-l-2 {
  margin-left: 2rem;
}
.mini {
  font-size: .875rem;
}

/* map alignment */
.program-map {
  margin-left: 5rem;
  border-radius: 0.3rem;
  overflow: hidden;
  max-width: 90%;

  #map {
    width: 350px;
    height: 500px;  
  }
}

@media (max-width: 900px) {
  .program-map {
    margin-left: 0;
  }
}