---
title: Limpieza de la antigua escuela primaria de Ramona
description: Haga comentarios públicos sobre los planes de limpieza del DTSC para el sitio de la antigua escuela primaria de Ramona
layout: comment-es.njk
locale: es
permalink: es/former-ramona/
---

<div class="program-description mobile-switch-grid">
  <div class="program-description-header top-left">
    <h1>Limpieza de la antigua escuela primaria de Ramona</h1>
  </div>
  <div class="program-map middle-right">
    <div id="map" data-lat="34.1123495573206" data-lon="-117.31944347283586"></div>
    <div id="single-touch-prompt-content" style="display:none;">Usa dos dedos para mover el mapa.</div>
  </div>
  <div class="program-description-content bottom-left">
    <p>Los comentarios públicos sobre el plan de limpieza propuesto en la antigua escuela primaria Ramona han terminado. Puede obtener las últimas actualizaciones sobre el proyecto en <a href="https://www.envirostor.dtsc.ca.gov/public/profile_report?global_id=60003149">EnviroStor</a>. Seleccione la etiqueta  Documentos del sitio/instalación. Puede que tenga que desplazase hacia la derecha para encontrar la etiqueta.</p>
  </div>
</div>
